@use 'theme' as theme;

/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', cursive;

  background-color: theme.$background-color;
  color: theme.$foreground-color;
  height: 100%;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    filter: brightness(90%);
  }
  &:active {
    filter: brightness(80%);
  }
}
button {
  background-color: transparent;
  border: none;
  color: inherit;
  text-decoration: none;
  font-family: 'Quicksand', cursive;
  &:hover {
    filter: brightness(90%);
  }
  &:active {
    filter: brightness(80%);
  }
}

input {
  color: inherit;
  margin-top: 10px;
  text-align: center;
  background-color: transparent;
  font-family: 'Quicksand', cursive;
  border: none;
  &:focus {
    outline: none;
  }
  caret-color: theme.$foreground-color;
  font-size: theme.$default-font;
}

hr {
  height: 0px;
  background: theme.$foreground-color;
  color: theme.$foreground-color;
  border-color: theme.$foreground-color;
}

.header {
  font-weight: normal;
}

h1 {
  @extend .header;
  font-size: theme.$title-font;
}
h2 {
  @extend .header;
  font-size: theme.$header-font;
}
h3 {
  @extend .header;
  font-size: theme.$default-font;
}

p {
  font-size: theme.$secondary-font;
}

div {
  &::-webkit-scrollbar {
    width: 5px;
  }
}
