@use 'theme' as theme;

/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', cursive;

  font-weight: bold;
  background-color: theme.$background-color;
  color: theme.$foreground-color;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    filter: brightness(90%);
  }
  &:active {
    filter: brightness(80%);
  }
}
button {
  background-color: transparent;
  border: none;
  color: inherit;
  text-decoration: none;
  &:hover {
    filter: brightness(90%);
  }
  &:active {
    filter: brightness(80%);
  }
}

input {
  color: inherit;
  font-size: 2.5rem;
  margin-top: 40px;
  text-align: center;
  background-color: transparent;
  font-family: 'Quicksand', cursive;
  border: none;
  font-weight: bold;
  &:focus {
    outline: none;
  }

  caret-color: transparent;
}
