@use 'theme' as theme;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  background-color: theme.$background-color;
  color: theme.$foreground-color
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    filter: brightness(90%);
  }
  &:active {
    filter: brightness(80%);
  }
}

input {
  color: inherit;
  font-size: 2.5rem;
  margin-top: 40px;
  text-align: center;
  background-color: transparent;
  border: none;
  font-weight: bold;
  &:focus {
    outline: none;
  }

  caret-color: transparent;
}