@use './theme.scss' as theme;

.container {
  text-align: center;
}

.nav-item {
  display: inline-block;
  margin: 0 4%;
}

.title {
  @extend .nav-item;
  text-align: center;
  width: min-content;
}

.nav-button {
  @extend .nav-item;
  font-size: theme.$header-font;
}

.nav-info {
  position: absolute;
  left: 20px;
  top: 20px;
}

.seperator {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
}
