@use './theme.scss' as theme;

.options-container {
  height: 40vh;
  overflow-y: scroll;
  text-align: center;
  min-height: theme.$header-font;
  padding: 0px 15px;

  scrollbar-color: theme.$foreground-color transparent;
  scrollbar-width: thin;
}

.option {
  font-size: theme.$default-font;
  margin: 2px;
  display: block;
}

.setting-button {
  font-size: theme.$header-font;
  margin: 2px;
  margin-top: 24px;
  display: block;
}

h2.header {
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: center;
}

h3.header {
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

h4.header {
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 0px;
  width: 100%;
  text-align: center;
}

.underline {
  width: min(15rem, 100%);
  margin-top: 0px;
  margin-bottom: 0px;
}

.prompt {
  text-align: center;
}

.prompt-small {
  font-size: theme.$secondary-font;
  text-align: center;
}

// Game stuff
.map-container {
  position: relative;
  width: 100%;
}

.map-container-child {
  height: 100%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
  overflow: visible;
}

.play-again {
  font-size: theme.$secondary-font;
}

.tagline {
  font-size: theme.$secondary-font;
  z-index: 99;
}

.input-line {
  width: 20vw;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .input-line {
    width: 50vw;
  }
}

.setting {
  text-align: center;
  margin: 10px 0;
  outline: 2px solid theme.$foreground-color;
  border-radius: 25px;
  width: 14rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.setting-select {
  background: none;
  color: theme.$foreground-color;
  border: none;
  margin: 16px 0;
  text-align: center;
}

.setting-option {
  background: theme.$background-color;
}
